body {
	text-align: center;
	background-color: #B5F5D8;
	font-family: 'Open Sans', sans-serif;
	color: #555759;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h1 {
	font-size: 48px;
	margin-top: 50px;
	margin-bottom: 30px;
}

p {
	font-size: 18px;
}

.character-select {
	width: 300px;
	margin: 20px auto;
	text-align: left;
}

.character-select select {
	width: 100%;
}

.select2-results__option {
	text-align: left;
}
